@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.h1Home {
  line-height: normal;
  font-weight: lighter;
  margin: 8rem auto;
  font-size: 7em;
  padding: 0.5rem 2rem;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  position: relative;
  display: inline-block;
  color: #291d36;
  border-radius: 2.8rem;
  animation: vaporwave-negative 2s infinite alternate;
  text-align: center;
}

.h2Home {
  font-size: 4rem;
  color: #291d36;
}

@keyframes vaporwave-negative {
  0% {
    text-shadow: -1px -1px 1px #000000, -2px -2px 1px #e98952, -3px -3px 1px #dd00ff,
    -4px -4px 1px #ff00f2;
  }
  100% {
    text-shadow: -1px -1px 1px #000000, -2px -2px 1px #9e85d0,
      -3px -3px 1px #00ccff, -4px -4px 1px #00ffb3;
  }
}

@media screen and (max-width: 768px) {
    .h1Home {
    font-size: 3rem;
    padding: 1rem;
  }

  .h2Home {
    font-size:2rem;
  }
}

@keyframes rotateOut {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(90deg);
    opacity: 0;
  }
}

@keyframes rotateIn {
  0% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.rotating-text {
  font-weight: 600;
  font-size: 3rem;
  color: #000;
  display: block;
  opacity: 100;
}

.rotatedTextInner {
  background-color: rgba(255, 255, 255, 0.767);
  display: inline-block;
  padding: 1rem 1.5rem;
  overflow: hidden;
  border-radius: 12px;
  transition: 2s;
}

.rotating-text.enter {
  animation: rotateIn 1s ease forwards;
  animation-fill-mode: forwards;
}

.rotating-text.exit {
  animation: rotateOut 1s ease forwards;
  animation-fill-mode: forwards;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15%;
  left: 0;
  right: 0;
  gap: 10%;
}

@media screen and (max-width: 1050px) and (orientation: landscape) {
  .h1Home {
    margin: 3.75rem 0;
  }

  .iconContainer {
    bottom: 20%;
  }
}

@keyframes homeGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fsBackground {
  background: linear-gradient(-45deg, #11c4db, #9ae7f1, #f0a6e0, #df46b1);
  filter: blur(50%);
  background-size: 250% 250%;
  animation: homeGradient 10s ease infinite;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  text-align: center;
}

.homeContainer {
  text-align: center;
  margin-top: 5%;
}

.homeIcon {
  font-size: 3.25rem;
  transition: transform 0.5s;
}

.homeIcon:hover {
  transform: scale(1.04);
}

.iconBackground {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  padding: 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 50%;
}

.iconBackground:hover {
  animation: vaporwaveGlow 2s infinite;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 1.3rem 5px;
  flex-direction: row;
}


.homeIcon {
  color: #000000;

}

@media (max-width: 800px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
}

.arrowContainer {
    z-index: 5;
    font-size: 2rem;
    position: fixed;
    bottom: 4%;
    left: 50%;
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 50%;
    transform: translateX(-50%);
    padding: 0.13rem 0.5rem;
}

.styledArrow {
  color: #291d36;
  margin-top: 5px;
  transition: 1s;
}

.styledArrow:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.arrowContainer:hover {
  animation: vaporwaveGlow 2s infinite;
}

@keyframes vaporwaveGlow {
  0% {
    box-shadow: 0 0 15px rgba(255, 0, 150, 0.8), 0 0 30px #00eef7,
      0 0 45px rgba(255, 0, 150, 0.8), 0 0 60px #00eef7;
  }
  50% {
    box-shadow: 0 0 25px #00eef7, 0 0 50px rgba(255, 0, 150, 0.8),
      0 0 75px #00eef7, 0 0 100px rgba(255, 0, 150, 0.8);
  }
  100% {
    box-shadow: 0 0 15px rgba(255, 0, 150, 0.8), 0 0 30px #00eef7,
      0 0 45px rgba(255, 0, 150, 0.8), 0 0 60px #00eef7;
  }
}

.profile-picture {
  flex: 1 1 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture img {
  border-radius: 50%;
  width: 245px;
  height: 245px;
  object-fit: cover;
  border: 1px solid #303030 inset;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
  .profile-picture img {
    margin-top: 3.25em;
    border-radius: 50%;
    width: 60%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .about-content {
    text-align: center;
  }
}

.about-content {
  flex: 1 1 65%;
  color: #291d36;
  padding: 20px;
}

.about-content p {
  font-size: 1.7rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-content h1.about-me {
  font-size: 2.5rem;
  color: #291d36;
  margin-bottom: 15px;
  z-index: 10;
  position: relative;
  padding-bottom: 25px;
}

.main-content {
  margin-top: 10rem;
}

@media screen and (min-width: 600px) {
  h1.about-me::before {
    content: "";
    position: absolute;
    left: 16%;
    bottom: 30%;
    width: 35%;
    height: 6px;
    background: #c8425b;
    transform: translateX(-50%);
    z-index: -1;
    border-radius: 2px;
  }
}

h1.about-me:hover {
  transition: 1.25s;
  color: #c8425b;
}

/*easter egg avatar styling*/
.magic-container {
  position: absolute;
  pointer-events: none;
  animation: fadeOut 2s forwards;
}

.magic-particle {
  position: fixed;
  opacity: 0.9;
  animation: sparkle 1.5s ease-out forwards, twinkle 2.5s infinite;
  transform-origin: center;
}

.magic-particle.star-shape {
  width: 9px;
  height: 9px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-color: inherit;
}

@keyframes sparkle {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: translate(
      calc(-50px + 100px * random()),
      calc(-50px + 100px * random())
    );
    opacity: 0;
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.easterEggAvatar {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.easterEggPopupText {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  font-size: 2em;
  text-align: center;
  z-index: 1000;
}

/* end easter egg avatar styling */

.h1Wrapper {
  margin-top: 8em;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 5px;
}

.leftContainer {
  max-width: 60%;
}

.rightContainer {
  max-width: 40%;
}

.header-section {
  display: flex;
  flex-direction: column;
}

.timeSinceCreation {
  font-size: 2rem;
  color: #291d36;
  background-color: #fff;
  text-align: center;
  padding: 0.25rem 1rem 2rem 1rem;
}

.aboutMeBorder {
  border-top: 2px solid #291d36;
}