.fsBackground {
  height: 100vh;
  z-index: 1;
  background-size: 5.4rem 5.4rem;
  background-color: rgb(20, 20, 20);
  background-image:
      linear-gradient(to right, rgb(190, 190, 190) 1px, transparent 0),
      linear-gradient(to bottom, rgb(190, 190, 190) 1px, transparent 0);
  position: relative;
  overflow: hidden;
}

.fsBackground::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(20, 20, 20, 0.8) 1% , rgba(20, 20, 20, 0.96) 40% , rgba(23, 23, 23, 1) 100%);
  z-index: -5;
}

.mainContentDivIntro {
  margin: 0.3rem 0;
}

.homePageAvatar {
  width: 100%;
  height: auto;
  border-radius: 3px;
  display: inline;
}

.homePageContainer {
  position: relative;
  text-align: left !important;
  overflow: hidden;
}

.main-content {
  display: grid;
  grid-template-columns: 78% 22%; /* 78% for main content, 22% for side content */
  grid-template-rows: subgrid; /* Allow rows to adjust to content height */
  gap: 2rem;
  margin: 0 20%;
  margin-top: 4rem;
  align-items: start;
}

.mainContentHome {
  grid-column: 1 / 2; /* First column */
  grid-row: 1; /* Place it in the first row */
  padding: 1rem 1.5rem;
  border: 1px solid #2f2f2f;
  color: rgb(219, 219, 219);
  font-size: 1.5rem;
  background: rgba(56, 54, 54, 0.192);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 7px, rgba(0, 0, 0, 0.3) 0px 9px 15px -5px, rgba(0, 0, 0, 0.2) 0px -3px 0px;
  backdrop-filter: blur(7.5px);
  border-radius: 10px;
  font-weight: 500;
}


.leftPanel {
  flex: 1;
}

.triGridColumn {
  display: flex;
  gap: 1.5rem;
  color: rgb(219, 219, 219);
}

.triBlockHome {
  flex: 0.33333333333;
  background: rgba(56, 54, 54, 0.192);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 7px, rgba(0, 0, 0, 0.3) 0px 9px 15px -5px, rgba(0, 0, 0, 0.2) 0px -3px 0px;
  backdrop-filter: blur(7.5px);
  border-radius:10px;
  border: 1px solid #2f2f2f;
}

.sideContentHome {
  border: 1px solid #2f2f2f;
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  padding: 1rem;
  color: rgb(219, 219, 219);
  background: rgba(56, 54, 54, 0.192);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  backdrop-filter: blur(7.5px);
  border-radius: 10px;
  height: fit-content;
  overflow-x: hidden;
}

.main-content .testblock-content {
  overflow: hidden;
  position: relative;
}

.homeMyStack {
  padding: 0.6rem 0 0 0;
}

.homeListItemsStack {
  color: rgb(219, 219, 219);
}

.homeMyStackInner {
  padding: 0.1rem 0 0 0.5rem;
}

h5.aboutMeH5 {
  font-weight: 700;
  color: rgb(219, 219, 219);
}

.sidePanelLowerPart {
  font-size: 0.95rem;
}

.aboutMeSidePanel {
  color: rgb(219, 219, 219);
}

.homeIcons {
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  display: flex;
}

.homeIndividualIcon {
  padding: 0.6rem;
  margin: 0 0.5rem 0 0;
  box-shadow: rgba(0, 194, 253, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(4, 217, 255, 0.2) 0px -3px 0px inset;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.homeIndividualIcon:not(:first-child) {
  margin: 0 0.5rem;
}

.hoverEffectHomePage:hover {
  cursor: pointer;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}
