@import url('https://fonts.cdnfonts.com/css/pricedown');

.wasted-main-container {
    text-align: center;
    padding-top: 3em;
  }
  
  /* hiding default file input*/
  .file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  
  .file-input {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap:3em;
  }
  
  .file-input label {
    width: auto;
    padding: 12px 24px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(40deg, #444444, #c8425b);
    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: border-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  input:hover + label,
  input:focus + label {
    border-color: #fff;
    transform: scale(1.05);
  }
  
  input:focus + label {
    border-color: #fff;
    transform: scale(1.05);
  }
  
  .wasted-overlay-effect {
    position: absolute;
    width: 150%;
    height: 23%;
    background: rgb(0, 0, 0, 0.6);
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    pointer-events: none;
    mask: url(#wasted-mask);
    -webkit-mask: url(#wasted-mask); 
  }
  
  .wasted-image-container {
    width: 0.1px;
    height: 0.1px;
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0;
    max-width: 60%;
    overflow: hidden;
    background-color: transparent;
  }
  
  .gtaVWastedImage {
    max-width: 100%;
    height: auto;
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
    margin: 0 auto;
  }

  h2 {
    font-size: 3rem;
  }
  
  .wasted-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    z-index: 101;
    font-family: "Pricedown Bl", sans-serif;
    pointer-events: none;
    -webkit-text-stroke: 0.75px black;
    color: rgb(212, 7, 7);
  }
  
  .wasted-text {
    display: block;
    font-family: "Pricedown Bl", sans-serif;
    z-index: 1;
    font-weight: bold;
    position: relative;
    color: rgb(212, 7, 7);
  }
  
  .wasted-about-text {
    text-wrap: pretty;
    font-size: 1.25em;
  }
  
  .wasted-about-text-container {
    max-width: 70%;
    text-wrap: pretty;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 0.25em 1em 1.5em 1em;
    border-radius: 6px;
    margin: 2em auto;
  }
  
  .download-button {
    display: block;
    position: relative;
    width: auto;
    padding: 12px 24px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(40deg, #444444, #c8425b);
    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: border-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .download-button:hover {
    border-color: #fff;
    transform: scale(1.05);
  }
  
  .download-button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
  }
  
  .download-button-container:focus {
    border-color: #fff;
    transform: scale(1.05);
  }


  .smallerScreensMessage {
    display: none;
  }

  @media screen and (max-width: 1028px) {
    .smallerScreensMessage {
        margin: 1em;
        display: block;
      }
  }