.hamburgerMenu {
  position: fixed;
  z-index: 10001230;
}

.custom-burger-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10000;
}

.bm-burger-button {
  width: 36px;
  height: 30px;
}

.bm-burger-bars {
  background: #fff; 
}

.bm-menu {
  background: #333; 
  
  font-size: 1.15rem;
}

.bm-item-list a {
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}

.bm-item-list a:hover {
  color: #ccc;
}

